*{
	margin: 0;
	font-family: 'Karla';

}
body{	
	max-width: 100%;
	overflow-x:hidden;
}
a{
	color: black;

}
a:hover{
	color: #F66249;
	cursor: pointer;
	transition-duration: 0.5s;
}
.header{
	background-color: #2B2E34;
}
.header__container{
	padding: 0 330px;
	height: 50px;

}
.header__email li{
	color: white;
	font-family: 'Karla';
	font-size: 15px;
	float: left;
	padding-top: 15px;
	list-style-type: none;
}
.header__email i{
	color: white;
	float: left;
	padding-top: 15px;
	margin: 0;
}
.header__account{
	float: right;
	display: inline-block;
	font-family: 'Karla';
	font-size: 15px;
	color: white;
	padding-top: 15px;
	list-style: none;
}
.header__account li{
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}

.header__search i ,.header__account i ,.header__cart button ,.header__email i, {
	margin:0 10px;
	
}

.header__cart {
	float: right;
	display: inline-block;
	font-family: 'Karla';
	height: 50px;	
	width: 150px;
	background-color: #F66249;
	border-style: none;
	color: white;
	cursor: pointer;
}
.header__cart:hover{
	background-color: red;
	transition-duration: 0.7s;
}
.header__cart a, .header__cart i{
	text-decoration: none;
	color: white;
	text-align: center;
	margin-top: 15px;
}
.header__search{
	float: right;
	display: inline-block;
	font-family: 'Karla';
	font-size: 15px;
	color: white;
	padding-top: 10px;
	list-style: none;
}
.header__search input{
	background-color: #25262b;
	border-style: none;
	height: 30px;
	display: inline-block;
	font-family: 'Karla';
	width: 167px;
	outline: none;
	font-size: 15px;

}
.header__search button{
	background-color: #25262b;
	color: white;
	border-style: none;
	height: 30px;
	margin-left: 0;
	cursor: pointer;
}
.navigation{
	background-color: #25262B;
	padding: 0 330px;
	padding-top: 15px;
}
.navigation__logo img{
	cursor: pointer;
}
.navigation__logo-border{
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: grey;
}
.navigation__menu ul{
	display: inline-block;
	color: white;
	margin-top: 15px;
	font-size: 18px;
	font-family: 'Karla';
	margin: 0;
	padding: 0;
	
}
.navigation__menu-shop{
	color: #F66249;
	cursor: pointer;
}
.navigation__menu ul a{
	color: white;
}
.navigation__menu li:hover{
	color: #F66249;
	transition-duration: 0.7s;
}
.navigation__menu li{
	display: inline-block;
	padding: 15px 30px 15px 0;
	cursor: pointer; 
}
.navigation__menu-home{
	color: #F66249;
	cursor: pointer;
}

.navigation-shop {
	display: inline-block;
	color: grey;
	font-size: 14px;
}
.navigation-home{
	text-decoration: none;
	color: grey;
	font-size: 14px;

}
.navigation-home:hover{
	color: #F66249;
	transition-duration: 0.5s;
	cursor: pointer; 
}
.nav-buttons{
	padding: 0 330px;
	position: relative;
	top: 40px;
}
.shop__sidebar{
	display: inline-block;
	width: 100px;
	height: 100%;
	padding: 0 330px;
	margin-top: 50px;
}
.shop__sidebar-search{
}
.shop__sidebar-search input{
	height: 40px;
	width: 350px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	font-family: 'Karla';
	font-size: 20px;
	outline: none;


}
.shop__sidebar-search button{
	background-color: #F66249;
	color: white;
	border-style: none;
	height: 40px;
	width: 100px;
	margin-left: 0;
	cursor: pointer;
	border-radius: 4px;
	font-size: 18px;
	outline: none;
}
.shop__sidebar-search button:hover{
	background-color: red;
	transition-duration: 0.7s;

}
.slider{
	-webkit-appearance: none;
	appearance: none;
	height: 10px;
	border-radius: 5px;
	width: 350px;
	background-color: #F66249;
}
.filter__header {
	font-family: 'Karla';
	font-size: 24px;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 30px;
	min-width: 200px;

}
.slider__value {
	font-family: 'Karla';
	font-size: 18px;
}
.filter__button{
	background-color: #F66249;
	color: white;
	border-style: none;
	height: 35px;
	width: 80px;
	margin-left: 0;
	cursor: pointer;
	border-radius: 4px;
	font-size: 18px;
	outline: none;
	margin-top: 10px;
}

.sidebar__products-product1, .sidebar__products-product2,.sidebar__products-product3,.sidebar__products-product4,.sidebar__products-product5 {
	width: 350px;
	margin-bottom: 30px;
}
.sidebar__products h1{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 350px;
}
.sidebar__products p{
	font-family: 'Karla';
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px; 
}
.sidebar__products p:hover{
	color: rgb(246,98,73);
	transition-duration: 0.3s;
	cursor: pointer;
}
.sidebar__products img{
	width: 50px;
	height: 70px;
	display: inline-block;
	float: right;
	position: relative;
	bottom: 30px;

}
.sidebar__products:hover{
	cursor: pointer;
}
.checked{
	color: rgb(246,98,73);
}
.main__shop{
	display: inline-block;
	position: absolute;
	max-width: 900px;

}
.main__shop h1{
	margin-top: 50px;
}
.main__shop img{
	width: 270px;
	height: 350px;
}
.main__shop img{
	margin-right: 20px;
}	
.main__shop img:hover{
	transform: scale(1.1);
	transition-duration: 0.7s;
	cursor: pointer;
}
.main__shop figure{
	display: inline-block;
}
.main__shop figcaption{
	text-align: center;
	margin-bottom: 10px;

}
.main__shop-product{
	display: inline-block;
}
.main__shop-add-to-cart{
	width: 140px;
    height: 50px;
    background-color: rgb(246,98,73);
    color: white;
    font-size: 18px;
    font-family: 'Karla';
    text-align: center;
    border-style: none;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    bottom: 30px;
    cursor: pointer;
    outline: none;
}
.main__shop-product p{
	font-family: 'Karla';
	font-size: 24px;
	margin-top: 10px;
	font-weight: 700;
}
.main__shop-product p:hover{
	color: rgb(246,98,73);
	transition-duration: 0.3s;
	cursor: pointer; 
}
.footer{
	height: 500px;
	width: 100%;
	background-color: #25262B;
	padding: 50px 330px;
	color: white;
	position: relative;
	top: 1100px;
}
.col1__header-border,.col2__header-border,.col3__header-border,.col4__header-border{
	display: block;
    width: 60px;
    height: 5px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
.col1,.col2{
	display: inline-block;
	margin-right: 200px;
	float: left;
}
.col3{
	display: inline-block;
	float: left;
	margin-right: 50px;
}
.col4{
	display: inline-block;
	float: left;
}
.col1 h1,.col2 h1,.col3 h1,.col4 h1{
	font-family: 'Karla';
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 20px;	
}
.col1 ul,.col2 ul{
	margin: 0px;
	padding: 0px;
	list-style: none;	
}
.col1 i{
	margin-right: 10px;
}
.col1 li{
	margin-bottom: 10px;

}
.col1 li:hover{
	color: #F66249;
	transition-duration: 0.5s;
	cursor: pointer;
}
.col2 li{
	margin-bottom: 0px;
	font-family: 'Karla';
	font-size: 20px;
	max-width: 200px;
	position: relative;
	left: 100px;
	bottom: 75px;
}
.col2 li:hover{
	color: #F66249;
	transition-duration: 0.5s;
	cursor: pointer;
}
.col2 li img{
	margin-right: 10px;
	display: inline-block;
}
.col3__content p{
	max-width: 280px;
	margin-bottom: 40px;
	word-spacing: 3px;
}
.buttons-row1 button, .buttons-row2 button{
	height: 50px;
	background-color: #25262B;
	border-width: 1px;
	border-color: white;
	cursor: pointer;
	font-family: 'Karla';
	font-size: 16px;
	color: white;
	margin-right: 5px;
	margin-bottom: 10px;
}
.footer__information{
	width: 100%;
	display: block;
	height: 60px;
	background-color: #2B2E34;
	position: relative;
	top: 1100px;
}
.footer__information-container{
	padding: 0 330px;
	padding-top: 20px;
}
.contact__icons{
	color: white;
	font-size: 20px;
}
.contact__icons i{
	margin-right: 30px;
}
.contact__icons i:hover{
	color: #F66249;
	transition-duration: 0.5s;
	cursor: pointer;
}
.footer__copyright {
	float: right;
	color: white;
	font-family: 'Karla';
	font-size: 18px;
	position: relative;
	bottom: 20px;

}


